<% if @places == []%>

  There are no locations yet.
  
<% else %>
  
<table id="approved-table"> 
    <% @places.each do |place| %>
  <tr>
    <td><%= place.name %></td>
    <td><%= link_to 'edit', edit_place_path(place), :remote => true%></td>
    <td><%= link_to 'delete', place, :confirm => "Are you sure you want to delete #{place.name}?", :method => :delete, :remote => true %></td>
  </tr>
  
    <% end %>
  
</table>  

<% end %>
