<% title = admin_signed_in? ? 'Add' : 'Suggest' %>
<h1><%= title %> New Place</h1>

<%= form_for @place, :url => { :action => :create} do |p| %>
<%= render :partial => 'form',  :locals => { :p => p } %>
<% end %>

<%= link_to 'Back', places_path%>
